@charset "utf-8";

/* 共通部分
-------------------- */
html {
  font-size: 100%;
}
body {
  color: #333;
  padding: 0 4px;
  background-color: #F4F9FF;
  font-size: 0.9rem;
}
img {
  max-width: 100%;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.contents {
  margin: 0 auto;
  max-width: 600px;
  padding: 40px 0;
}
h2,h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* ヘッダー
-------------------- */
header {
  background-color: none;
}
.logo img {
  width: 160px;
  height: 20px;
  margin-top: 60px;
}

/* メイン
-------------------- */
/* メインヴィジュアル */
#main-visual {
  margin-bottom: 50px;
}
#main-visual img {
  width: 100%;
}
/* INDEXセクション */
#index {
  background-color: #fff;
}
.index-list{
  list-style-position: inside;
}
.index-list li {
  line-height: 40px;
}
/* DETAILセクション */
#detail {
  margin-bottom: 50px;
}
.detail-wrapper {
  display: flex;
  justify-content: space-between;
}
.detail-wrapper img {
  width: 270px;
  height: 270px;
}
dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 15px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;

}
dl dt {
  width: 25%;
}
dl dd {
  width: 75%;
}
.discription {
  width: 270px;
}
.discription h3,
.discription p {
  margin-bottom: 20px;
}
.discription a {
  color: #000;
}

/* フッター
-------------------- */
#footer {
  height: 40px;
}
#footer .contents{
  padding: 0;
  font-size: 0.6rem;
}

/* ホバー
-------------------- */
.logo img:hover,
.discription a:hover {
  cursor: pointer;
}

/* レスポンシブウェブデザイン
----------------------------------------------- */
@media screen and (max-width: 1024px) {
  .contents {
    width: 75%;
  }
  /* INDEXセクション */
  .index-list li {
    padding-left: 1rem;
    text-indent: -1rem;
    line-height: 25px;
  }
  /* DETAILセクション */
  .detail-wrapper {
    flex-direction: column;
  }
  .detail-wrapper img {
    margin: 10px 0 20px;
  }
}